{% extends 'homepage/layout.html' %}
    {% block title %} About {% endblock %}

    {% block content %}
    <div class="hero bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">About Velvet Skin</h1>
        <p>Velvet Skin is a premium skincare brand dedicated to providing luxurious and effective 
            solutions for all skin types. Our products are meticulously crafted with high-quality 
            ingredients designed to enhance your natural beauty and promote a healthy, radiant 
            complexion. From rejuvenating serums to hydrating moisturizers, each Velvet Skin product 
            combines advanced skincare technology with nature's finest extracts to deliver exceptional results. 
            Experience the elegance and efficacy of Velvet Skin, where beauty meets innovation.</p>
    </div>
    {% endblock %}