{% extends 'homepage/layout.html' %}
    {% load static %}
    {% block title %} Product {% endblock %}

    {% block content %}
    <div class="hero bg-light p-3 rounded-lg m-3">
        <h1 class="display-6">Recommendation for you ♡ </h1>
    </div> 

    <div class="container">
        <div class="row row-cols-4">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/moist.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moisturizer</h5>
                  <p class="card-text">A moisturizer is a skincare product designed to hydrate and protect the skin by replenishing its moisture levels.</p>
                  <a href="#" class="btn btn-link">Purchase</a>
                </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/foto3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moisturizer</h5>
                  <p class="card-text">A moisturizer is a skincare product designed to hydrate and protect the skin by replenishing its moisture levels.</p>
                  <a href="#" class="btn btn-link">Purchase</a>
                </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/foto2.jpg' %}" >
                <div class="card-body">
                  <h5 class="card-title">Moisturizer</h5>
                  <p class="card-text">A moisturizer is a skincare product designed to hydrate and protect the skin by replenishing its moisture levels.</p>
                  <a href="#" class="btn btn-link">Purchase</a>
                </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/foto.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moisturizer</h5>
                  <p class="card-text">A moisturizer is a skincare product designed to hydrate and protect the skin by replenishing its moisture levels.</p>
                  <a href="#" class="btn btn-link">Purchase</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}